p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    outline: 2px solid red;
}

button {
    font-family: inherit;
    color: currentColor;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*========= HEADER MOBILE =========*/

.header-menu {
    display: none;
}
.contacts {
    display: none;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.first-logo {
    color: #2e2f42;
}

.mobile-open-btn {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    line-height: 0;
}

.mobile-open-btn-icon {
    color: #2f2f37;
        flex-shrink: 0;
}
/* = = = = = = = = = = = = = = = = = = = */

.mobile-menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99999999999; 
   background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
    padding: 72px 16px 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
}

.mobile-menu-navigation {
    margin-bottom: auto;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
    width: 8px;
        height: 8px;
        flex-shrink: 0;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .mob-studion{
    color: #404bbf;
    font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-decoration: none;
}

.mobile-menu-list-navigation {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-decoration: none;
        color: #2e2f42;
}


/* ===========CONTACTS=========== */

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
   
}

.mobile-contacts-link.phone {
    color: #4D5AE5;
}

.mobile-contacts-link {
    color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1,2;
        letter-spacing: 0.02em;
     
}

.mobile-item-icon {
    display: flex;
}

.mobile-social-link {
    display: flex;
    border-radius: 50%;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 8px;
}

.mobile-list-icon {
    display: flex;
    width: 280px;
    justify-content: center;
    gap: 40px;
}
   
.mobile-social-icon {
    fill: #f4f4fd;
}

/* ===========HERO MOBILE=========== */

.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/retina/dark.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    padding: 72px 0;
    margin: auto;
}
@media screen and (minn-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppi) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .main-info {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/dark-@2x.jpg);
    }
}

.hero-lile {
    margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
        max-width: 224px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
}

.hero-bye-btn {
    display: block;
        min-width: 169px;
        height: 56px;
        margin: 0 auto;
        border: none;
        border-radius: 4px;
        background-color: #4d5ae5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bye-btn:hover,
.hero-bye-btn:focus {
    background-color: #404bbf;
}
/* ========================= */

/* ===========FEATURES=========== */

.features-container {
    padding-top: ;
}

.features-list {
    display: flex;
    flex-direction: column;
    width: 288px;
    row-gap: 72px;
    margin: 0 auto;
}

.icons-container {
    display: none;
}

.features-subtitle {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 8px;
       
}
.feat-sub {
    padding-top: 178px;  
}

.features-item-text {
    display: flex;
    color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* =============TASTE=============== */

.taste {
    background: #f4f4fd;
}
.taste-container {
    padding-bottom: 96px;
}

.taste-title {
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        padding-top: 96px;
}

.tastle-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 72px;
}

.taste-item {
    max-width: 264px;
        background: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.taste-subtitle {
    margin-bottom: 8px;
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.taste-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.taste-item-inner {
    padding: 32px 0;
}

.taste-icons-list {
    fill: #f4f4fd;
}

.social-link {
    display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
    background-color: #404bbf;
}

.taste-icons-list {
    fill: #f4f4fd;
}

.taste-item-icons {
    width: 40px;
    height: 40px;

}

.taste-all-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

/* ========== PORTFOLIO =========== */

.portfolio-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
}

.portfolio-item-inner {
    padding-top: 32px;
        padding-right: 16px;
        padding-bottom: 32px;
        padding-left: 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-title {
    margin-right: auto;
        margin-bottom: 72px;
        margin-left: auto;
        color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        padding-top: 96px;
}
.portfolio-subtitle {
    margin-bottom: 8px;
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.cover-text {
    display: none;
}

.portfolio-item {
    width: 288px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item :hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



/* ============================ */
@media screen and (max-width: 767px) {
    .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999999999;
            background-color: #FFFFFF;
            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu.is-open {
            transform: translateX(0%);
        }
    
        .mobile-menu-container {
            position: relative;
        }
    
        .mobile-menu-close-btn {
            position: absolute;
            top: 24px;
            right: 24px;
            padding: 0;
            width: 24px;
            height: 24px;
            line-height: 0;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: transparent;
            fill: #2E2F42;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-close-icon {
            width: 8px;
            height: 8px;
            flex-shrink: 0;
        }
                .mobile-open-btn {
                    border: none;
                    background-color: #FFFFFF;
                    padding: 0;
                    line-height: 0;
                }
        
                .mobile-open-btn-icon {
                    color: #2f2f37;
                    flex-shrink: 0;
                }
}
    


@media screen and (min-width: 768px) {

    .header-menu {
            display: flex;
        }
    
    .contacts {
            display: flex;

        }
    .container {
        width: 798px;
    }

    .header-navigation {
        display: flex;
        align-items: center;
        gap:  120px;
    }

     .header-menu {
            display: flex;
            gap: 40px;
    }
      

    .contacts-item {
         display: flex;
         align-items: center;
                }

    .contacts-link {
        color: #434455;
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu{
        display: none;
    }
        .mobile-open-btn {
            display: none;
        }
}



@media screen and (min-width: 1158px) {
    .container {
        width: 1170px;
    }
}

