p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    outline: 2px solid red;
}

button {
    font-family: inherit;
    color: currentColor;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*========= HEADER MOBILE =========*/

.header-menu {
    display: none;
}
.contacts {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.first-logo {
    color: #2e2f42;
}

.mobile-open-btn {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    line-height: 0;
}

.mobile-open-btn-icon {
    color: #2f2f37;
        flex-shrink: 0;
}
/* = = = = = = = = = = = = = = = = = = = */

.mobile-menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99999999999; 
   background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
    padding: 72px 16px 40px;
        display: flex;
        flex-direction: column;
        height: 100%;
}

.mobile-menu-navigation {
    margin-bottom: auto;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
    width: 8px;
        height: 8px;
        flex-shrink: 0;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .mob-studion{
    color: #404bbf;
    font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-decoration: none;
}

.mobile-menu-list-navigation {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-decoration: none;
        color: #2e2f42;
}


/* ===========CONTACTS MOBILE=========== */

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link.phone {
    color: #4D5AE5;
    margin-bottom: 24px;
}

.mobile-contacts-link {
    color: #434455;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1,2;
        letter-spacing: 0.02em;
     
}

.mobile-item-icon {
    display: flex;
}

.mobile-social-link {
    display: flex;
    border-radius: 50%;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 8px;
}

.mobile-list-icon {
    display: flex;
    width: 280px;
    justify-content: center;
    gap: 40px;
}
   
.mobile-social-icon {
    fill: #f4f4fd;
}

/* ===========HERO MOBILE=========== */

.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/retina/dark.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    padding: 72px 0;
    margin: auto;
}
@media screen and (minn-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppi) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .main-info {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/dark-@2x.jpg);
    }
}

.hero-lile {
    margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
        max-width: 224px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
}

.hero-bye-btn {
    display: block;
        min-width: 169px;
        height: 56px;
        margin: 0 auto;
        border: none;
        border-radius: 4px;
        background-color: #4d5ae5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bye-btn:hover,
.hero-bye-btn:focus {
    background-color: #404bbf;
}
/* ========================= */

/* ===========FEATURES MOBILE=========== */

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    width: 288px;
    row-gap: 72px;
    margin: 0 auto;
}

.icons-container {
    display: none;
}

.features-subtitle {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 8px;
       
}

.features-item-text {
    display: flex;
    color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* =============TASTE MOBILE=============== */

.taste {
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.taste-title {
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}

.tastle-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 72px;
}

.taste-item {
   
        background: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.taste-subtitle {
    margin-bottom: 8px;
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.taste-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.taste-item-inner {
    padding: 32px 0;
}

.taste-icons-list {
    fill: #f4f4fd;
}

.social-link {
    display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
    background-color: #404bbf;
}

.taste-icons-list {
    fill: #f4f4fd;
}

.taste-item-icons {
    width: 40px;
    height: 40px;

}

.taste-all-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

/* ========== PORTFOLIO MOBILE =========== */


.portfolio {
padding-top: 96px;
}

.portfolio-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
}

.portfolio-item-inner {
    padding-top: 32px;
        padding-right: 16px;
        padding-bottom: 32px;
        padding-left: 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-title {
    margin-right: auto;
        margin-bottom: 72px;
        margin-left: auto;
        color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        
}
.portfolio-subtitle {
    margin-bottom: 8px;
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.cover-text {
    display: none;
}

.portfolio-item {
    width: 288px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item :hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-img-items {
    border: 1px solid #f4f4fd;
        background: #fff;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* =============FOOTER MOBILE=============== */

.footer {
    background: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
}

.footer-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
}

.left-footer {
    display: flex;
    flex-direction: column;
}

.footer-logo {
display: block;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer .first-logo {
    color: #f4f4fd;
}

.footer-text {
    display: flex;
        width: 264px;
        color: #f4f4fd;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-address-text {
    color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        margin-top: 0;
        text-align: center;
}

.footer-icon-container {
    fill: #f4f4fd;
}

.icon-link {
    display: flex;
        border-radius: 50%;
        background-color: #4d5ae5;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31d0aa;
}
.all-footer-icons {
    display: flex;
    gap: 16px;
   
}

.footer-icon-container {
    display: flex;
}

.footer-title {
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        text-align: center;
}

.footer-form {
    display: flex;
        flex-direction: column;
       
}

.footer-input {
    width: 264px;
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        border-radius: 4px;
        border: 1px solid #ffffff;
        background-color: transparent;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: #ffffff;
}

.footer-input::placeholder {
    color: #FFFFFF;
}

.footer-form-btn {
    min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        gap: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #404bbf;
}

.footer-form-btn-icon {
    fill: white;
}

/* =============BACDROP MOBILE=============== */

.bacdrop {
    position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999999;
        background: rgba(46, 47, 66, 0.4);
        opacity: 1;
        visibility: visible;
    
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bacdrop .is-open {
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
}
.review-form-description {
    margin-bottom: 16px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.review-form-field-label {
    display: block;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.review-form-input-wrapper {
    margin-bottom: 8px;
}

.review-form-field {
width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus {
    border-color: #4d5ae5;
        outline-color: transparent;
        outline-offset: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field-icon {
    position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field  + .review-form-field-icon
{   fill: #4d5ae5;

}

.review-form-field-wrapper {
    margin-bottom: 16px;
}

.review-form-message {
    width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        resize: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        padding: 8px 16px;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
    border-color: #4d5ae5;
}

.review-form-checkbox-iron {
    display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        fill: transparent;
        margin-right: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label {
    font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.privacy-policy-link {
    color: #5d5ae5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox:checked + .review-form-checkbox-label
.eview-form-owm-checkbox  {
    border: none;
        background-color: #404bbf;
        fill: #F4F4FD;
}

.review-form-checkbox:focus + .review-form-checkbox-label 
.eview-form-owm-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-btn {
display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.review-form-btn:hover
.review-form-btn:focus {
    background: #404bbf;
}

/* ============= TAB=============== */

@media screen and (min-width: 768px) {

    .mobile-menu {
            display: none;
        }
    
        .mobile-open-btn {
            display: none;
        }

    .header-menu {
            display: flex;
        }
    
    .contacts {
            display: flex;

        }
    .container {
        width: 768px;
        
    }


    .header-navigation {
        max-width: 496px;
        display: flex;
        align-items: center;
        margin-right: 40px;
    
    }

     .header-menu {
            display: flex;
            align-items: center;
    }

    .header-menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .header-menu-item:last-child {
        margin-right: 0;
    }
     
    .header-menu-link{
        color: #2e2f42;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding-top: 24px;
            padding-bottom: 24px;
           
    }

        .first-logo {
            margin-right: 120px;
        }

        .header-menu-link:hover,
        .header-menu-link: {
            color: #404bbf;
        }
    .header-after::after {
        color: #404BBF;
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        width: 100%;
    }

        .current {
            color: #404bbf;
            display: flex;
                position: relative;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        .header-menu-link:active,
        .header-menu-link:hover,
        .header-menu-link:focus {
            color: #404BBF;
        }
        
         .contacts {
            display: flex;
            font-style: normal;
         }

    .contacts-item {
            display: flex;
                flex-direction: column;
                gap: 12px;
     }

    .contacts-link {
        color: #434455;
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   .contacts {
    display: flex;
    font-style: normal;
   }

   .contacts-item {
    display: flex;
      
        gap: 12px;
   }

   .contacts-link {
    color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1, 17;
        letter-spacing: 0, 04em;
        gap: 12px;
   }

   .contacts-link {
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .contacts-link:hover,
   .contacts-link:focus {
       color: #404bbf;
   }
    /* ======HERO TAB===== */
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/retina/tab-dark.jpg);
            padding: 112px 0;
    }

        @media screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppi) and (min-width: 768px),
        screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/retina/tab-dark-@2x.jpg);}

        }

     .hero-lile {
        margin-bottom: 36px;
            max-width: 496px;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
            letter-spacing: 0.02em;
            color: #ffffff;
     }
        
   /* ===========FEATURES TAB=========== */  
    .tastle-list {
         flex-direction: row;
        flex-wrap: wrap;
         column-gap: 24px;
         row-gap: 64px;
        }

   .features-list {
    width: 736px;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
   }

   .features-item {
    flex-basis: calc((100% - 24px) / 2);
   }

   .features-subtitle {
    text-align: left;
   }

   .taste-item {
    max-width: 264px;
   }

  /* ===========PORTFOLIO TAB=========== */

  .portfolio-list {
    flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
 /* ===========FOOTER TAB=========== */

 .footer-container {
    flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: baseline;
        padding-left: 108px;
 }

 .footer .footer-logo {
    margin-left: 0;
 }
 .footer-address-text {
    text-align: left;
 }

 .footer-title {
    text-align: left;
 }

 .footer-form {
    flex-direction: row;
 }
 
 .modal {
    width: 408px;
        padding: 72px 24px 24px;
 } 

 .footer-input {
     margin-right: 24px;
 }

}


/* ===========DESCTOP=========== */


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-navigation {
        max-width: 450px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .contacts-item {
        display: flex;

    }

        .contacts-item {
            gap: 40px;
            flex-wrap: nowrap;
            flex-direction: row;
        }

    .contacts-list:not(:last-child) {
        margin-right: 40px;
    }

    .contacts-list:last-child {
        margin-right: 0;
    }

    .contacts-link {
        font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
    }

    .hero {
        max-width: 1440px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/retina/desc-dark.jpg);
            padding: 188px 0;
    }

        @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
        screen and (min-resolution: 2dppi) and (min-width: 1158px),
        screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
            .main-info {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/retina/cesc-dark-@2x.jpg);
}
        }

        .features-list {
            width: 1158px;
            gap: 24px;
        }

        .features-item {
            max-width: 264px;

        }

        .icons-container {
            display: flex;
                justify-content: center;
                align-items: center;
                height: 112px;
                padding-top: 24px;
                padding-right: 100px;
                padding-bottom: 24px;
                padding-left: 100px;
                margin-bottom: 8px;
                border-radius: 4px;
                border: 1px solid #8e8f99;
                background: #f4f4fd;
        }

        .features-subtitle {
            font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.02em;
        }

        .features-item-text {
            display: flex;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
        }

        .tastle-list {
            gap: 24px;
        }

        .taste-item-icons {
           
        }

        .portfolio-list {
            gap: 48px 24px;
        }

        .portfolio-item {
            width: calc((100% - 48px) / 4);
        }

        .footer-container {
            gap: unset;
        }

        .footer {
            padding: 100px;
        }

        .left-footer {
            margin-right: 120px;
        }

        .ooter-address {
            margin-left: auto;
        }

        .footer-input {
            margin-right: 24px;
        }

}